<h1>Your Watchlist</h1>

<% @watched_movies.each do |movie| %>
  <div>
    <h2><%= movie.title %></h2>
    <%= link_to "Remove from Watchlist", remove_movie_watchlists_path(movie_id: movie.id), method: :delete %>
  </div>
<% end %>

<%= link_to "Back", root_path %>
