<div class="container">
  <div class="row">
    <h1 class="text-center">Dashboard</h1>
      <div class="col d-flex justify-content-center my-3">
        <div class="card-profile">
          <div class="profile-picture">
            <i class="fa-solid fa-user fa-2xl" style="color: #ffffff;"></i>
          </div>
          <p class="profile-name"> Info
              <span><%= @user.email %>
              </span>
          </p>
        </div>
      </div>
        <div class= "d-flex justify-content-center my-1">
          <%= link_to "Delete your account", user_registration_path, class: "magic-form-button-users-delete btn", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
        </div>
  </div>
  <div class="row my-4" data-controller="star-rating">
    <h2 class="text-center my-3">Watchlist</h2>
    <div class="col my-3 mx-2">
      <div id="watchlist-card-id" class="watchlist-card">
        <img src="https://source.unsplash.com/random " alt="">
        <div class="watchlist-card-content">
          <p class="watchlist-card-title">TITLE</p>
          <p class="watchlist-card-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vitae
            justo vel lorem tincidunt ultrices at non nunc. Donec in sapien viverra,
            tincidunt augue id, efficitur massa.
          </p>
        </div>
      </div>
        <%# <div class="my-2" data-star-rating-target="rater" data-action= "click->star-rating#submit"> %>
            <%#= simple_form_for [@user, @movie] do |f| %>
              <%#= f.input :rating_user, collection: (1..5).to_a, label: "Rate your experience" %>
              <%#= f.submit "Send your review" %>
            <%# end %>
        <%# </div> %>
      </div>

    <div class="col my-3 mx-2">
      <div id="watchlist-card-id" class="watchlist-card">
            <img src="https://source.unsplash.com/random " alt="">
            <div class="watchlist-card-content">
              <p class="watchlist-card-title">TITLE</p>
              <p class="watchlist-card-description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vitae
                justo vel lorem tincidunt ultrices at non nunc. Donec in sapien viverra,
                tincidunt augue id, efficitur massa.
              </p>
            </div>
        </div>
        <div class="my-2" data-star-rating-target="rater" data-action= "click->star-rating#submit">
        <%# <div class="my-2" data-star-rating-target="rater" data-action= "click->star-rating#submit"> %>
            <%#= simple_form_for [@user, @movie] do |f| %>
              <%#= f.input :rating_user, collection: (1..5).to_a, label: "Rate your experience" %>
              <%#= f.submit "Send your review" %>
            <%# end %>
        <%# </div> %>
        </div>
    </div>

    <div class="col my-3 mx-2">
      <div id="watchlist-card-id" class="watchlist-card">
            <img src="https://source.unsplash.com/random " alt="">
            <div class="watchlist-card-content">
              <p class="watchlist-card-title">TITLE</p>
              <p class="watchlist-card-description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vitae
                justo vel lorem tincidunt ultrices at non nunc. Donec in sapien viverra,
                tincidunt augue id, efficitur massa.
              </p>
            </div>
        </div>
        <%# <div class="my-2" data-star-rating-target="rater" data-action= "click->star-rating#submit"> %>
            <%#= simple_form_for [@user, @movie] do |f| %>
              <%#= f.input :rating_user, collection: (1..5).to_a, label: "Rate your experience" %>
              <%#= f.submit "Send your review" %>
            <%# end %>
        <%# </div> %>
    </div>

      <div class="col my-3 mx-2">
      <div id="watchlist-card-id" class="watchlist-card">
            <img src="https://source.unsplash.com/random " alt="">
            <div class="watchlist-card-content">
              <p class="watchlist-card-title">TITLE</p>
              <p class="watchlist-card-description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vitae
                justo vel lorem tincidunt ultrices at non nunc. Donec in sapien viverra,
                tincidunt augue id, efficitur massa.
              </p>
            </div>
        </div>
        <%# <div class="my-2" data-star-rating-target="rater" data-action= "click->star-rating#submit"> %>
            <%#= simple_form_for [@user, @movie] do |f| %>
              <%#= f.input :rating_user, collection: (1..5).to_a, label: "Rate your experience" %>
              <%#= f.submit "Send your review" %>
            <%# end %>
        <%# </div> %>
    </div>

      <div class="col my-3 mx-2">
      <div id="watchlist-card-id" class="watchlist-card">
            <img src="https://source.unsplash.com/random " alt="">
            <div class="watchlist-card-content">
              <p class="watchlist-card-title">TITLE</p>
              <p class="watchlist-card-description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vitae
                justo vel lorem tincidunt ultrices at non nunc. Donec in sapien viverra,
                tincidunt augue id, efficitur massa.
              </p>
            </div>
        </div>
           <%# <div class="my-2" data-star-rating-target="rater" data-action= "click->star-rating#submit"> %>
            <%#= simple_form_for [@user, @movie] do |f| %>
              <%#= f.input :rating_user, collection: (1..5).to_a, label: "Rate your experience" %>
              <%#= f.submit "Send your review" %>
            <%# end %>
        <%# </div> %>
    </div>

</div>
</div>
</div>
