<div class="container mt-3">
  <h1><%= @question.content %></h1>
  <%= simple_form_for [@question, @answer] do |f| %>
    <%= f.input :content %>
    <%= f.submit "Next", class: "btn btn-primary" %>
  <% end %>
</div>
