<%= content_for(:navbar_class, "navbar-home") %>
<%= content_for(:banner_class, "banner-home") %>

<div class="banner">
  <div class="centered">
  <div class="banner-content text-center">
    <%= image_tag("MojoIcon-transformed.png")%>
    <h1>MovieMojo</h1>
    <p>Quit overthinking your <br>
      movie choice and start <br>
      enjoying the show!</p>
     <div><%= button_to "Start now", questionnaires_path, data: { turbo_method: :post }, class: "visitor-button" %></div>
  </div>
  </div>
</div>
