<%= content_for(:navbar_class, "navbar-home") %>
<%= content_for(:banner_class, "banner-home") %>

<div class="banner">
  <div class="centered">
  <div class="banner-content text-center">
    <h1>MovieMojo</h1>
    <p>Quit overthinking your <br>
    movie choice and start <br>
    enjoying the show!</p>

  </div>
  </div>
</div>

<div class="container-main">
  <p>Tired of endless streaming searches? <br>Hit start, answer 5 questions, and get a fantastic suggestion!</p>
  <div class= "btn-main"><%= link_to "Start", questionnaires_path, data: { turbo_method: :post }, class: "btn btn-lg btn-primary"  %></div>
</div>
