<div class="container mt-3">
  <h1>New Questionnaire</h1>
  <%= simple_form_for @questionnaire do |f| %>
    <%= f.input :title %> 
    <%= f.submit "Next", class: "btn btn-primary" %>
  <% end %>
</div>
