body {
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
  font-weight: 400;
}

a {
  color: white;
}

p {
  margin-bottom: 0;
}

.home-title {
  color: white;
}

.page-container {
  position: relative;
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}
