.back {
  position: absolute;
  right: 0;
  bottom: 0;
}

.btn-ghost {
  color: #c0c0c0;
  border: 1px solid #cbcbcb;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
  border: 1px solid #4A4A4A;
}

.btn-green:hover {
  opacity: 1;
  color: #1EDD88;
  border: 1px solid #1EDD88;
}

.btn-red:hover {
  opacity: 1;
  color: #FD1015;
  border: 1px solid #FD1015;
}

.btn-search:hover {
  opacity: 1;
  border: 1px solid #4A4A4A;
  color: black;
}

.btn-flat {
  color: rgb(255, 255, 255);
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  background-color: #93bcf2;
  border-radius: 20px;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #0a4791;
  color: white;
}

.btn-gradient {
  color: rgb(255, 255, 255);
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}


//magic buttons 👌

.magic-button {
  text-decoration: none;
  width: 130px;
  height: 40px;
  font-size: 1.1em;
  cursor: pointer;
  background-color: $blue;
  color: $red;
  border: none;
  border-radius: 5px;
  transition: all .4s;
  padding-top: 2px;
}


.magic-button:hover {
  text-decoration: none;
  border-radius: 5px;
  transform: translateY(-10px);
  box-shadow: 0 7px 0 -2px #800020,
    0 15px 0 -4px #BAA679,
    0 16px 10px -3px #BAA679;
}

.magic-button:active {
  text-decoration: none;
  transition: all 0.2s;
  transform: translateY(-5px);
  box-shadow: 0 2px 0 -2px #800020,
    0 8px 0 -4px #BAA679,
    0 12px 10px -3px #BAA679;
}


.visitor-button {
  font-size: 1.1rem;
  padding: 0.8em 2em;
  background-color: #000;
  border: 3px solid $yellow;
  border-radius: 1em;
  color: #fff;
  font-weight: bolder;
  transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.4s;
  box-shadow: 3px 3px 0px 0px $yellow;
}

.visitor-button:hover {
  transform: translate(5px, -5px);
}

.magic-form-button-users {
  --input-focus: #2d8cf0;
  --font-color: #fefefe;
  --font-color-sub: #7e7e7e;
  --bg-color: #111;
  --main-color: #fefefe;
  padding: 15px;
  background: var(--bg-color);
  gap: 20px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  box-shadow: 3px 3px var(--main-color);
  margin: 20px;
  padding-bottom: 20px;
  text-decoration: none;
  color: white;
}

.magic-form-button-users-back {
  --input-focus: #2d8cf0;
  --font-color: #fefefe;
  --font-color-sub: #7e7e7e;
  --bg-color: #111;
  --main-color: #fefefe;
  padding: 5px 10px;
  background: var(--bg-color);
  gap: 20px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  box-shadow: 3px 3px var(--main-color);
  margin-top: 10px;
  padding-bottom: 20px;
  text-decoration: none;
  color: white;
  width: 450px;
  height: 40px;

  input:focus {
    border: 2px solid var(--input-focus);
  }

  &.btn:hover {
    color: $red;
    border: $red;
    box-shadow: 4px 4px $red;
  }


}

.magic-form-button-users-delete{
  --input-focus: #2d8cf0;
  --font-color: #fefefe;
  --font-color-sub: #7e7e7e;
  --bg-color: #111;
  --main-color: #fefefe;
  padding: 5px 10px;
  background: var(--bg-color);
  gap: 20px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  box-shadow: 3px 3px var(--main-color);
  margin-top: 10px;
  padding-bottom: 20px;
  text-decoration: none;
  color: white;
  width: 200px;
  height: 40px;

  input:focus {
    border: 2px solid var(--input-focus);
  }
  &.btn:hover{
    color: $red;
    border: $red;
    box-shadow: 4px 4px $red;
  }


}

.revealButton {
  font-size: 12px;
  padding: 4px 8px;
  background-color: #000;
  border: 1px solid $yellow;
  border-radius: 0.25em;
  color: #fff;
  font-weight: bolder;
  transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.4s;
  box-shadow: 1px 1px 0px 0px $yellow;
}

.revealButton:hover {
  transform: translate(0.1px, -0.05px);
}




// ADD TO WATCHLIST BUTTON

$button-width: 150px;
$spinner-width: $button-width/6;
// $blue: #0076d3;
// $blue: black;
$btn-bg: $yellow;
$text-light: #fefefe;
$animation-duration: 1s;

// @import url(https://fonts.googleapis.com/css?family=Space+Mono);

// *{ box-sizing: border-box;}

// .button-box {
//   width: 350px;
// }

.button-container {
  width: 45%;
}

@media (min-width: 780px){
  .wrapper {
    width: 600px;
    display: grid;
    grid-template-columns: repeat(2, [col] calc(100%/2) );
    grid-auto-rows: 120px;
    margin: 30px auto 40px;
  }
}
.button-submit{
  display: inline-block;
  min-width: $button-width;
  margin: 1rem auto;
  background: $btn-bg;
  color: $text-light;
  // font-size: 1.2em;
  padding: 1em;
  border-radius: 4px;
  text-align: center;
  position: relative;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  border: 0;
  transition: border-radius linear 0.05s, width linear 0.05s;


  &:focus{
    outline: 0;
  }

  &.animate{
    width: $button-width/2.7;
    height: $button-width/2.7;
    min-width: 0;
    border-radius: 50%;
    color: transparent;

    &:after{
      position: absolute;
      content: '';
      width: $spinner-width;
      height: $spinner-width;
      border: 4px solid $text-light;
      border-radius: 50%;
      border-left-color: transparent;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      animation: spin ease-in $animation-duration forwards;
      animation-name: spin;
      -webkit-animation-name: spin;
      transition-timing-function:ease-in-out;
      -webkit-transition-timing-function: ease-in-out;
      animation-duration: $animation-duration;
      -webkit-animation-duration: $animation-duration;
      animation-fill-mode: forwards;
      -webkit-animation-fill-mode: forwards;
    }

    &.success:before{
      position: absolute;
      content: '';
      width: $spinner-width;
      height: $spinner-width/2;
      border: 4px solid $text-light;
      border-right: 0;
      border-top: 0;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%) rotate(0deg) scale(0);
      transform: translate(-50%, -50%) rotate(0deg) scale(0);
      -webkit-animation: success ease-in 0.15s forwards;
      animation: success ease-in 0.15s forwards;
      animation-delay: $animation-duration;
    }

    &.error{
      position: relative;
      -webkit-animation: vibrate ease-in 0.5s forwards;
      animation: vibrate ease-in 0.5s forwards;
      -webkit-animation-delay: $animation-duration;
      animation-delay: $animation-duration;

      &:before{
        color: #fff;
        position: absolute;
        content: '!';
        font-size: 1.8rem;
        font-weight: bold;
        text-align: center;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%) scale(0);
        transform: translate(-50%, -50%) scale(0);
        -webkit-animation: error ease-in 0.5s forwards;
        animation: error ease-in 0.5s forwards;
        animation-delay: $animation-duration;
      }
    }
  }
}


@keyframes spin {
    0% { transform: translate(-50%, -50%) rotate(0deg) scale(1);}
    90% { transform: translate(-50%, -50%) rotate(1080deg) scale(1); }
    100% { transform: scale(0); }
    }

@-webkit-keyframes spin {
  0% {-webkit-transform: translate(-50%,-50%) rotate(0deg) scale(1);}

  98% {-webkit-transform: translate(-50%,-50%) rotate(1080deg) scale(1);}

  100% {-webkit-transform: translate(-50%,-50%) rotate(1080deg) scale(0);}
}

@keyframes success{
    from {
       transform: translate(-50%, -50%) rotate(0) scale(0);
       }
    to {
      transform: translate(-50%, -50%) rotate(-45deg) scale(1);
    }
}

@-webkit-keyframes success{
    from {
       -webkit-transform: translate(-50%, -50%) rotate(0) scale(0);
       }
    to {
      -webkit-transform: translate(-50%, -50%) rotate(-45deg) scale(1);
    }
}

@keyframes error {
    from {
    transform: translate(-50%, -50%) scale(0);
    }
    to {
    transform: translate(-50%, -50%) scale(1);
    background-color: #f44336;
    }
}

@-webkit-keyframes error {
    from {
    -webkit-transform: translate(-50%, -50%) scale(0);
    }
    to {
    -webkit-transform: translate(-50%, -50%) scale(1);
    background-color: #f44336;
    }
}


@keyframes vibrate {
    0%, 30%, 60%, 85%, 100% {
      left: 0;
      background-color: #f44336;
    }
    10%, 40%, 90%, 70% {
      left: -2px;
      background-color: #f44336;
    }
    20%, 50%, 80%, 95% {
      left: 2px;
      background-color: #f44336;
    }
}
