.footer {
  position: relative;
  background: #000000;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  color: #9a9a9a;
  margin-top: 80px;
  align-content: space-around;
  flex-direction: column-reverse;
}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 10px 10px;
}

.footer-links a:hover {
  color: $red;
  opacity: 1;
}

.footer .fa-heart {
  color: $red;
}
