.blurry-screen {
  filter: blur(36px);
  transition: ease 0.5s;
}

.neat-screen{
  filter: blur(0px);
}

.spinner {
  height: 50px;
  width: max-content;
  font-size: 36px;
  font-weight: 600;
  font-family: monospace;
  letter-spacing: 1em;
  color: #f5f5f5;
  filter: drop-shadow(0 0 10px);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
 }

 .spinner span {
  animation: loading6454 1.75s ease infinite;
 }

 .spinner span:nth-child(2) {
  animation-delay: 0.25s;
 }

 .spinner span:nth-child(3) {
  animation-delay: 0.5s;
 }

 .spinner span:nth-child(4) {
  animation-delay: 0.75s;
 }

 .spinner span:nth-child(5) {
  animation-delay: 1s;
 }

 .spinner span:nth-child(6) {
  animation-delay: 1.25s;
 }

 .spinner span:nth-child(7) {
  animation-delay: 1.5s;
 }

 @keyframes loading6454 {
  0%, 100% {
   transform: translateY(0);
  }

  50% {
   transform: translateY(-10px);
  }
 }


 // SPINNER HOME - TITLE


.spinner-home {
  height: 50px;
  width: max-content;
  font-size: 50px;
  font-weight: 600;
  font-family: 'Bungee Shade';
  letter-spacing: 1em;
  color: #f5f5f5;
  filter: drop-shadow(0 0 10px);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-47%, -370%);
  z-index: 10;
 }

 .subtitle-home{
  filter: drop-shadow(0 0 10px);
  margin-top:80px;
 }

 .spinner-home span {
  animation: loading6454 1.75s ease infinite;
 }

 .spinner-home span:nth-child(2) {
  animation-delay: 0.25s;
 }

 .spinner-home span:nth-child(3) {
  animation-delay: 0.5s;
 }

 .spinner-home span:nth-child(4) {
  animation-delay: 0.75s;
 }

 .spinner-home span:nth-child(5) {
  animation-delay: 1s;
 }

 .spinner-home span:nth-child(6) {
  animation-delay: 1.25s;
 }

 .spinner-home span:nth-child(7) {
  animation-delay: 1.5s;
 }

 @keyframes loading6454 {
  0%, 100% {
   transform: translateY(0);
  }

  50% {
   transform: translateY(-10px);
  }
 }
