.magic-form{
  --input-focus: #2d8cf0;
  --font-color: #fefefe;
  --font-color-sub: #7e7e7e;
  --bg-color: #111;
  --main-color: #fefefe;
  padding: 20px;
  background: var(--bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  box-shadow: 3px 3px var(--main-color);
  margin: 30px;

  h2 {
    color: var(--font-color);
    font-weight: 900;
    font-size: 20px;
    margin-bottom: 25px;
  }

  input {
    width: 250px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 3px 3px var(--main-color);
    font-size: 15px;
    font-weight: 600;
    color: var(--font-color);
    padding: 5px 10px;
    outline: none;
  }

  .form-text{
    color:white
  }

  input::placeholder {
    color: var(--font-color-sub);
    opacity: 0.8;
  }

  input:focus {
    border: 2px solid var(--input-focus);
  }

  a:hover{
    text-decoration: underline white;
  }

  .btn:hover{
    color: $yellow;
    border: $yellow;
    box-shadow: 4px 4px $yellow;
  }

  #user_remember_me{
    width: 5px;
    height:20px;
    margin-right: 10px;
    box-shadow:none;
  }
}


.login-with {
  display: flex;
  gap: 20px;
}

// THIS IS THE FORM DESIGN FOR THE ANSWERS PART

.magic-form-answers{
  --input-focus: #2d8cf0;
  --font-color: #fefefe;
  --font-color-sub: #7e7e7e;
  --bg-color: #111;
  --main-color: #fefefe;
  padding: 20px;
  background: var(--bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  box-shadow: 3px 3px var(--main-color);
  margin: 30px;
  padding-bottom: 30px;
  // animation: slidein 2s ease;
  view-transition-name: next-question;
  contain: layout;

  &.previous {
    view-transition-name: previous-question;
  }

  h2 {
    color: var(--font-color);
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 25px;
  }

  label{
    display: none;
  }

  input {
    width: 450px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 3px 3px var(--main-color);
    font-size: 15px;
    font-weight: 600;
    color: var(--font-color);
    padding: 5px 10px;
    outline: none;
  }

  .form-text{
    color:white
  }

  input::placeholder {
    color: var(--font-color-sub);
    opacity: 0.8;
  }

  input:focus {
    border: 2px solid var(--input-focus);
  }
  .btn:hover{
    color: $yellow;
    border: $yellow;
    box-shadow: 4px 4px $yellow;
  }
  #user_remember_me{
    width: 5px;
    height:20px;
    margin-right: 10px;
    box-shadow:none;
  }
}

@keyframes slidein {
  from {
    transform: translateX(100%);
  }
}

@keyframes slidein-left {
  from {
    transform: translateX(-100%);
  }
}

@keyframes slideout {
  to {
    transform: translateX(-100%);
  }
}

@keyframes slideout-right {
  to {
    transform: translateX(100%);
  }
}

$transition_time: 500ms;

/* (3) */
::view-transition-old(next-question) {
  animation-duration: $transition_time;
  animation-name: -ua-view-transition-fade-out, slideout;
}
::view-transition-new(next-question) {
  animation-duration: $transition_time;
  animation-name: -ua-view-transition-fade-in, slidein;
}

::view-transition-old(previous-question) {
  animation-duration: $transition_time;
  animation-name: -ua-view-transition-fade-out, slideout-right;
}
::view-transition-new(previous-question) {
  animation-duration: $transition_time;
  animation-name: -ua-view-transition-fade-in, slidein-left;
}

.tag-item {
  // this is displaying as a row instead of column
  display: inline-flex;
  justify-content: center; /* Center the items horizontally */
  align-items: center; /* Center the items vertically */
}

.tag-selector {
  // this is hidding the selector
  position: absolute;
  transform: scale(0);
  color:white !important;
}

.tag-selector + label {
  cursor: pointer;
  display: inline-block;
  font-size: 2rem;
  padding: 15px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  box-shadow: 3px 3px var(--main-color);
  margin: 20px;
  text-decoration: none;
  color:white;
  font-size: 25px;
}

.tag-selector:checked + label {
  background-color: $yellow;
  color: white;
}

.col-form-label {
  display: none;
}

.cs-is-valid {
  color: white;
}

.form-check-label:hover {
  background-color: $yellow;
  transform: translate(5px, -5px);
}
