.magic-form{
  --input-focus: #2d8cf0;
  --font-color: #fefefe;
  --font-color-sub: #7e7e7e;
  --bg-color: #111;
  --main-color: #fefefe;
  padding: 20px;
  background: var(--bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  box-shadow: 3px 3px var(--main-color);
  margin: 30px;

  h2 {
    color: var(--font-color);
    font-weight: 900;
    font-size: 20px;
    margin-bottom: 25px;
  }

  input {
    width: 250px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 3px 3px var(--main-color);
    font-size: 15px;
    font-weight: 600;
    color: var(--font-color);
    padding: 5px 10px;
    outline: none;
  }

  .form-text{
    color:white
  }

  input::placeholder {
    color: var(--font-color-sub);
    opacity: 0.8;
  }

  input:focus {
    border: 2px solid var(--input-focus);
  }
  .btn:hover{
    color: green;
    border: green;
    box-shadow: 4px 4px green;
  }
  #user_remember_me{
    width: 5px;
    height:20px;
    margin-right: 10px;
    box-shadow:none;
  }
}


.login-with {
  display: flex;
  gap: 20px;
}

// THIS IS THE FORM DESIGN FOR THE ANSWERS PART

.magic-form-answers{
  --input-focus: #2d8cf0;
  --font-color: #fefefe;
  --font-color-sub: #7e7e7e;
  --bg-color: #111;
  --main-color: #fefefe;
  padding: 20px;
  background: var(--bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  box-shadow: 3px 3px var(--main-color);
  margin: 30px;
  padding-bottom: 60px;

  h2 {
    color: var(--font-color);
    font-weight: 900;
    font-size: 20px;
    margin-bottom: 25px;
  }

  input {
    width: 450px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 3px 3px var(--main-color);
    font-size: 15px;
    font-weight: 600;
    color: var(--font-color);
    padding: 5px 10px;
    outline: none;
  }

  .form-text{
    color:white
  }

  input::placeholder {
    color: var(--font-color-sub);
    opacity: 0.8;
  }

  input:focus {
    border: 2px solid var(--input-focus);
  }
  .btn:hover{
    color: $yellow;
    border: $yellow;
    box-shadow: 4px 4px $yellow;
  }
  #user_remember_me{
    width: 5px;
    height:20px;
    margin-right: 10px;
    box-shadow:none;
  }
}
