.result-movie-card{
  height: 500px;
  width: 400px;
  background-size: cover;
  color: white;
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
  font-weight: bolder;
  position: relative;
  transition: ease-out 0.5s;

  &.secondary{
    filter: blur(8px);
  }
}
.secondary:hover{
  filter: blur(0px);
  transform: translate(0px, -30px);
  transition: ease 0.5s;
  box-shadow: none;
}

.result-movie-wrapper{
  .magic-button{
    position: absolute;
    top: 50%;
    z-index: 5;
    right: 35%
  }
}

.overlay{
  background-size: cover;
  width:400px;
  height: 500px;
  position: absolute;
  filter: blur(8px);
  background-color: $blue;
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
}
