.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
  margin-right: 10px;
  top: 20px;
}

.navbar-lewagon .navbar-nav {
  display: flex;
  align-items: center;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-title{
  padding-top:10px;
  font-family: 'Bungee Shade';
}

.btn-main {
  margin-right: 20px;
}
