.card-profile {
  background: black;
  width: 13rem;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  border: 4px solid #fff;
  box-shadow: 0 6px 10px #212121;
  border-radius: 10px;
  text-align: center;
  color: #fff;
  font-family: "Poppins", sans-serif;
  transition: all 0.3s ease;
}

.card-profile:hover {
  transform: translateY(-10px);
}

.profile-picture {
  overflow: hidden;
  object-fit: cover;
  width: 5rem;
  height: 5rem;
  border: 4px solid #fff;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}


.profile-name {
  margin: 0;
  margin-top: 20px;
  font-weight: 600;
  font-size: 18px;
}

.profile-name span {
  display: block;
  font-weight: 200;
  font-size: 16px;
}
