div.watchlist-card {
  position: relative;
  width: 350px;
  height: 500px;
  background-color: #f2f2f2;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/* .card svg {
  fill: #000;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border-radius: 3px;
} */

.poster {
  width: 350px;
  height: 500px;
  object-fit: cover;
  border-radius: 10px;
}

.watchlist-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px #000000;
  background-color: #f2f2f2;
  color: #ffffff;
}

.watchlist-card-content {
  color: #000000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #ffffff;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.watchlist-card:hover .watchlist-card-content {
  transform: rotateX(0deg);
}

.watchlist-card-title {
  margin: 0;
  padding-left: 0px;
  font-size: 32px;
  color: #000000;
  font-weight: 700;
}

.watchlist-card:hover svg {
  scale: 0;
}

.watchlist-card-description {
  margin: 10px 0 0;
  font-size: 15px;
  color: #000000;
  line-height: 1.4;
}



/* Commands to change the shadows in dark mode
@media (prefers-color-scheme: dark) {
  .card:hover {
  box-shadow: 0 8px 16px #000000;
  }
}*/

.profile-avatar {
  width: 100%;
  object-fit: cover;
}
